main {
  text-align: center;
  margin: 40px auto 100px;
}
.about-header {
  background-image: url(../images/about-header-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  min-height: 20vh;
  margin-bottom: 50px;
}

H1 {
  color: #000;
}

.about-text {
  margin: 0px auto;
  padding: 0px 10px;
}

.intro-text {
  font-weight: bold;
}

.main-text,
.end-text {
  text-align: left;
  margin: 50px 0px 0px;
}
