* {
  box-sizing: border-box;
}
/* Header menu */
.header-banner,
.top-menu-user,
.main-menu nav,
.main-menu div,
.main-menu label {
  display: none;
}

/* Checkout */
/*main*/
.checkout-layout {
  margin: 20px auto 50px;
  padding: 0px 10px;
  display: grid;
  grid-template-areas:
    "checkout"
    "orderdetails";
  grid-template-rows: auto 1fr;
}

h1,
h2,
h3,
h4,
h5,
h6,
.signin {
  color: #000;
}

h1 {
  font-size: var(--h2);
}

h2,
h3,
h4,
h5,
h6 {
  font-size: var(--regular-text);
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  margin: 30px 0px 10px;
}

.checkout {
  grid-area: checkout;
}

.signin-text,
.contactinfo {
  display: flex;
}

.signin {
  font-weight: bold;
  text-decoration: underline;
  margin-left: 40px;
  padding: 15px;
}

.signin:hover {
  color: var(--orange);
}

.contactinfo {
  justify-content: space-between;
}

.contactinfo p {
  position: relative;
  top: 20px;
  font-size: var(--order-details);
}

.form-wrapper {
  display: flex;
  flex-direction: column;
}

.label-wrap {
  display: flex;
  flex-direction: column-reverse;
}
.form-wrapper label {
  position: relative;
  right: 20px;
}

#checkout-email {
  border: 1px solid #707070;
  margin-right: 0px;
  padding: 5px;
}

input {
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #707070;
}
.form-wrapper label {
  position: relative;
  top: 0.1px;
}

.city-details,
.cardpayment-details {
  display: flex;
}

.cardpayment-details {
  padding-top: 10px;
}

.order-details {
  grid-area: orderdetails;
  padding: 0px;
}

.order-details-heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.order-details-heading p {
  position: relative;
  top: 15px;
}

.order-details-items {
  display: flex;
  margin: 0px auto 40px;
}

.product-img-small {
  max-height: 100px;
}

.order-details-product {
  color: #000;
  font-size: var(--regular-text);
  display: block;
  padding: 0px 0px 6px;
}
.order-details-product:hover {
  text-decoration: underline;
}

.order-details-spes {
  font-size: var(--order-details);
}
.order-details-spes,
.order-details-product {
  margin: 0px 0px 3px 40px;
}

.items-total,
.deliverycost,
.total {
  display: flex;
  justify-content: space-between;
}
