h1,
h2,
h3,
h4 {
  color: #000;
  font-family: "Barlow Condensed", sans-serif;
}
h1 {
  font-size: var(--h2);
}
h2 {
  font-size: var(--regular-text);
}

h2:hover {
  color: var(--orange);
  cursor: pointer;
}

.product-spesifics {
  display: flex;
  flex-direction: column;
  margin: 40px 0px 100px;
  max-width: 1100px;
}

.product-spesific-images {
  grid-area: product-images;
  padding: 0px 20px;
  max-width: 500px;
}

.product-image {
  width: 100%;
  height: 70vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.product-image-thumbnails {
  display: flex;
  gap: 10px;
  margin-top: 5px;
}

.thumbnail {
  height: 30vh;
}

.product-spesific-details {
  padding: 20px;
  grid-area: product-details;
}
.product-price {
  font-size: var(--regular-text);
}
.size-color-selector {
  padding-bottom: 30px;
}
.size-selector {
  margin-top: 5px;
}

.size-selector,
.color-selector {
  display: flex;
  position: relative;
  right: 15px;
  top: 3.5px;
}

label:hover {
  font-weight: bold;
}

.hide-radio {
  display: none;
}

input[type="radio"]:checked + label {
  border: 2px solid;
  padding: 1px 4px;
  border-radius: 3px;
  font-weight: bold;
}

input[type="radio"],
input[type="button"],
label {
  cursor: pointer;
}

.add-to-cart {
  display: flex;
}

/* .counter-button {
  display: flex;
  margin-right: 50px;
} */

/* .minus-button,
.plus-button {
  background-color: var(--white);
  border: 2px solid var(--signature-blue);
  color: var(--signature-blue);
  border-radius: 5px;
  padding: 0px 15px;
  font-weight: bold;
}

.minus-button:active,
.plus-button:active {
  background-color: var(--signature-blue);
  color: var(--white);
  border: 2px solid transparent;
} */

/* .counter {
  padding: 0px 15px;
} */

/* .add-to-cart div {
  border: 1px solid var(--sand);
  padding: 10px 20px;
  margin-right: 20px;
  text-align: center;
} */

input[type="button"] {
  border: 2px solid var(--signature-blue);
  text-decoration: none;
}

.product-specs {
  padding: 20px;
  grid-area: product-specs;
}
.product-specs-header {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.product-specs-text {
  border: 1px solid var(--sand);
  padding: 20px 40px;
}
