@import "imports/variables.css";

body {
  background-color: #fcfbfb;
  color: #000;
  margin: 0px;
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

/* fonts
font-family: 'Barlow Condensed', sans-serif;
font-family: 'Roboto', sans-serif; */

h1,
h2,
h3 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 3em;
  color: var(--white);
}

p {
  font-size: 1em;
}

/* Header 
_____________ */

.header-icons {
  max-width: 20px;
}

/* Banner */
.header-banner {
  background-color: #e5dfd9;
  color: #000;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  margin: 0px;
  padding: 0px;
}

.header-banner img {
  max-height: 20px;
  padding: 5px 0px;
}

.header-banner p {
  padding: 5px 0px 5px 10px;
  margin: 0px;
  font-size: 0.8em;
}

/* Top menu user */
.top-menu-user {
  display: flex;
  justify-content: flex-end;
}

.top-menu-user a {
  padding-right: 10px;
}

.top-menu-text {
  position: relative;
  bottom: 3px;
}
.top-menu-user,
.main-menu {
  max-width: 1600px;
  margin: 0px auto;
}

/* Main menu */
header {
  color: #002633;
}

.main-menu {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.main-menu a {
  flex-grow: 6;
}

.shopping-icons {
  order: 2;
}

.counter-shoppingcart,
.counter-wishlist {
  color: var(--signature-blue);
  background-color: var(--white);
  font-size: 0.8em;
  font-weight: bold;
  border: 2px solid;
  border-radius: 50px;
  padding: 0px 4px;
  position: relative;
  right: 15px;
  top: 3px;
  display: none;
}

.logo {
  max-width: 120px;
  height: auto;
  margin: 0px 10px;
  padding-top: 0px;
}

label {
  order: 3;
  margin-left: 20px;
  position: relative;
  bottom: 3px;
}

nav {
  margin-left: 25px;
  display: none;
  position: fixed;
  top: 137px;
  background: #fcfbfb;
  z-index: 1000;
  right: 0px;
}

nav ul {
  padding: 0px;
}

nav li {
  display: block;
  text-decoration: none;
  padding: 5px 20px;
}

#hamburger-menu {
  display: none;
  max-width: 25px;
}

#hamburger-menu:checked ~ nav {
  display: block;
}

/* CTA's
______________ */

.cta {
  text-transform: uppercase;
  background-color: #ffa06d;
  color: #fcfbfb;
  padding: 10px 30px;
  font-size: 1.5em;
  text-align: center;
  margin: 0px;
  border: 3px solid transparent;
  border-radius: 5px;
  transition-duration: 0.3s;
}

.cta-small {
  font-size: 0.8em;
  border: 2px solid transparent;
}

.cta-wide {
  text-transform: initial;
  margin: 40px 5px;
}

.cta-blue {
  background-color: var(--signature-blue);
}

.add-to-wishlist {
  border: none;
  background-color: inherit;
  color: var(--signature-blue);
  font-weight: bold;
  cursor: pointer;
}

.wishlist-icon {
  max-width: 30px;
  padding-top: 10px;
}

/* links 
______________ */

a {
  text-decoration: none;
}

header a {
  padding: 5px;
  color: #002633;
}

nav a {
  padding: 15px;
}

footer a {
  color: #000;
}

.current {
  text-decoration: underline;
}

.backtotop {
  margin: 100px 50px 50px 0px;
  text-align: right;
  max-width: 1600px;
}

.back-link {
  color: #000;
  text-decoration: underline;
}

/* Hover
______________ */

.top-menu-user a:hover {
  text-decoration: underline;
}

nav li:hover {
  text-decoration: underline;
  font-weight: bold;
}

.cta:hover {
  color: #ffa06d;
  background-color: #fcfbfb;
  border: 3px solid var(--orange);
}

.cta-small:hover {
  border: 2px solid;
  font-weight: bold;
}

.cta-blue:hover {
  color: var(--signature-blue);
  border-color: var(--signature-blue);
}

.back-link:hover {
  font-weight: bold;
}

footer div a:hover {
  text-decoration: underline;
}

/* Footer
______________ */

footer {
  background-color: #e5dfd9;
  display: flex;
  flex-direction: column;
  font-size: 0.8em;
}

hr {
  display: block;
  margin: 0px;
  padding: 0px;
  color: #e5dfd9;
  opacity: 0.2;
}

.footer-top {
  background-color: #fcfbfb;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  padding-top: 30px;
}

.footer-top div {
  max-width: 200px;
}
.footer-top img {
  max-width: 60px;
}

.footer-top-delivery {
  position: relative;
  bottom: 3px;
}

.footer-delivery-icon {
  margin: 10px 0px 5px;
  max-height: 50px;
}

.footer-top-header {
  text-transform: uppercase;
  font-weight: bold;
}

.footer-bottom {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 10px;
  margin: 10px;
  justify-content: center;
}

.footer-links-section {
  display: flex;
  flex-direction: column;
}

.footer-bottom-header {
  font-weight: bold;
}

input[type="email"] {
  padding: 8px;
  box-sizing: border-box;
  border: none;
  margin-right: 5px;
}

input[type="submit"] {
  border: 2px solid var(--orange);
  position: relative;
  bottom: 1.5px;
}

input[type="submit"]:focus {
  outline: none;
}

label[for="email"] {
  margin: 5px 0px 0px;
}

input[type="email"]:focus {
  outline: none;
}
.newsletter-wrapper {
  padding-top: 10px;
}

.newsletter-labelwrapper {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  right: 20px;
  bottom: 22px;
}

.newsletter-error {
  color: darkred;
  display: none;
}

.newsletter-subscribed {
  background-color: var(--white);
  border: 2px solid var(--orange);
  border-radius: 5px;
  padding: 0px 10px;
  max-width: 330px;
  display: none;
}

.footer-banner {
  text-align: center;
  padding: 10px;
  margin-top: 10px;
}

/* --------------------------------
               Error
-------------------------------- */

.form-error {
  color: darkred;
  display: none;
  margin: 0px 0px 15px;
}
