@import "imports/variables.css";

body {
  background-color: #fcfbfb;
  color: #000;
  margin: 0px;
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

/* fonts
font-family: 'Barlow Condensed', sans-serif;
font-family: 'Roboto', sans-serif; */

h1,
h2,
h3 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 3em;
  color: var(--white);
}

p {
  font-size: 1em;
}

/* Header 
_____________ */

.header-icons {
  max-width: 20px;
}

/* Banner */
.header-banner {
  background-color: #e5dfd9;
  color: #000;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  margin: 0px;
  padding: 0px;
}

.header-banner img {
  max-height: 20px;
  padding: 5px 0px;
}

.header-banner p {
  padding: 5px 0px 5px 10px;
  margin: 0px;
  font-size: 0.8em;
}

/* Top menu user */
.top-menu-user {
  display: flex;
  justify-content: flex-end;
}

.top-menu-user a {
  padding-right: 10px;
}

.top-menu-text {
  position: relative;
  bottom: 3px;
}

/* Main menu */
header {
  color: #002633;
}
.main-menu {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin: 0px 15px;
}

.main-menu a {
  flex-grow: 6;
}

.shopping-icons {
  order: 2;
}

.logo {
  max-width: 120px;
  height: auto;
  margin: 0px 10px;
  padding-top: 0px;
}

label {
  order: 3;
  margin-left: 20px;
  position: relative;
  bottom: 3px;
}

nav {
  margin-left: 25px;
  display: none;
  position: fixed;
  top: 137px;
  background: #fcfbfb;
  z-index: 1000;
  right: 0px;
}

nav ul {
  padding: 0px;
}

nav li {
  display: block;
  text-decoration: none;
  padding: 5px 20px;
}

#hamburger-menu {
  display: none;
  max-width: 25px;
}

#hamburger-menu:checked ~ nav {
  display: block;
}

/* CTA's
______________ */

.cta {
  text-transform: uppercase;
  background-color: #ffa06d;
  color: #fcfbfb;
  padding: 10px 30px;
  font-size: 1.5em;
  text-align: center;
  margin: 0px;
  border-radius: 3px;
}

.cta-small {
  font-size: 0.8em;
  min-width: 130px;
}
.cta-blue {
  background-color: var(--signature-blue);
}

/* links 
______________ */

a {
  text-decoration: none;
}

header a {
  padding: 5px;
  color: #002633;
}

nav a {
  padding: 15px;
}

footer a {
  color: #000;
}

.current {
  text-decoration: underline;
}

/* Hover
______________ */

.top-menu-user a:hover {
  text-decoration: underline;
}

nav li:hover {
  text-decoration: underline;
  font-weight: bold;
}

.cta:hover {
  color: #ffa06d;
  background-color: #fcfbfb;
  border-style: solid;
  border-width: 3px;
}

.cta-small:hover {
  border-width: 2px;
  font-weight: bold;
}

.cta-blue:hover {
  color: var(--signature-blue);
}

footer div a:hover {
  text-decoration: underline;
}

/* Products - featured on home-page and products-page*/

.products-img {
  width: 100%;
  height: auto;
}

.product-details {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  padding: 0px 10px 0px 10px;
}

.product-details p {
  padding: 0px;
  margin: 0px;
}

.product-name-link {
  display: block;
  font-weight: bold;
  color: #000;
  padding: 5px 0px;
  margin: 0px;
}

.wishlist-icon {
  max-width: 30px;
  padding-top: 10px;
}

/* Home Page 
______________

.home-header {
  background-image: url("../images/home-header-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  min-height: 70vh;
}

.home-content {
  color: #fcfbfb;
  text-align: center;
  min-width: 210px;
  padding: 250px 0px 50px;
}

.home-content h1 {
  margin: 0px auto 0px;
}

.home-content p {
  margin: 0px auto 40px;
}

.products-new {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 1400px;
  margin: 10px auto;
  grid-gap: 10px;
}

.products-header {
  background-color: #ffa06d;
  color: #fcfbfb;
  text-align: center;
  padding: 20px 0px;
}

.products-header h2 {
  text-transform: uppercase;
  margin: 0px;
}

.products-img {
  width: 100%;
  height: auto;
}

.product-details {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  padding: 0px 10px 0px 10px;
}

.product-details p {
  padding: 0px;
  margin: 0px;
}

.product-name-link {
  display: block;
  font-weight: bold;
  color: #000;
  padding: 5px 0px;
  margin: 0px;
}

.wishlist-icon {
  max-width: 30px;
  padding-top: 10px;
}

h1,
h2,
h3 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 3em;
  color: #fcfbfb;
}

p {
  font-size: 1em;
}

p .product-name-link {
  font-size: 1.5em;
}

.guide {
  background-color: #002633;
  margin: 50px 0px;
  padding-bottom: 80px;
  text-align: center;
}

.guide h3 {
  margin: 5px auto;
  padding-top: 20px;
}

.guide p {
  color: #fcfbfb;
  margin: 15px auto 50px;
  padding: 0px;
}*/

/* Footer
______________ */

footer {
  background-color: #e5dfd9;
  display: flex;
  flex-direction: column;
  font-size: 0.8em;
}

hr {
  display: block;
  margin: 0px;
  padding: 0px;
  color: #e5dfd9;
  opacity: 0.2;
}

.footer-top {
  background-color: #fcfbfb;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  padding-top: 30px;
}

.footer-top div {
  max-width: 200px;
}
.footer-top img {
  max-width: 60px;
}

.footer-top-delivery {
  position: relative;
  bottom: 3px;
}

.footer-delivery-icon {
  margin: 10px 0px 5px;
  max-height: 50px;
}

.footer-top-header {
  text-transform: uppercase;
  font-weight: bold;
}

.footer-bottom {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 10px;
  margin: 10px;
}

.footer-links-section {
  display: flex;
  flex-direction: column;
}

.footer-bottom-header {
  font-weight: bold;
}

input[type="email"] {
  padding: 8px;
  box-sizing: border-box;
  border: none;
  margin-right: 5px;
}

input[type="submit"] {
  border: none;
  position: relative;
  bottom: 1.5px;
}

input[type="submit"]:focus {
  outline: none;
}

label[for="email"] {
  margin: 5px 0px 0px;
}

input[type="email"]:focus {
  outline: none;
}

.footer-banner {
  text-align: center;
  padding: 10px;
  margin-top: 10px;
}

/* Media 
______________

@media (min-width: 600px) {
  nav {
    display: block;
    position: static;
  }
  nav li {
    display: inline-block;
    padding: 0px;
    text-transform: uppercase;
  }
  .main-menu label {
    display: none;
  }
  .main-menu {
    justify-content: space-between;
  }
  .main-menu a {
    flex-grow: 0;
  }

  .home-content {
    padding: 300px 0px 50px;
  }

  .products-new {
    margin: 50px auto;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
  }

  .products-header {
    display: table;
    text-align: center;
    min-height: 85.5%;
    width: auto;
    padding: 0px;
  }

  .products-header div {
    display: table-cell;
    vertical-align: middle;
  }

  .footer-bottom {
    grid-template-columns: 1fr 1fr 1fr 2fr;
  }

  .footer-about {
    justify-self: end;
  }

  .footer-customerserv {
    justify-self: center;
  }
}

@media (min-width: 800px) {
  .home-header {
    margin: 0px 40px;
  }

  .products-new {
    grid-template-columns: auto repeat(3, 1fr);
    grid-gap: 20px;
    max-width: 1400px;
  }

  .products-header h2 {
    padding: 0px 40px;
    margin: 0px;
  }

  .guide {
    margin: 50px 40px;
  }
}

@media (min-width: 1600px) {
  .home-content {
    padding: 450px 0px 50px;
  }
} */
